doctype html
html
    head
        title Data Visualizer
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
        link(rel='stylesheet' href='/main.css')
        script(type='text/javascript' src="/socket.io/socket.io.js")
        script(type='text/javascript' src="/client.js")
    body
        div.container
            header
                h1 Litter
                h3 The Location Based Twitter App


            div.container.container-main
            form.form-inline
                div#searchControls.form-group
                    input(type='text', placeholder="Enter City").form-control.input-lg#city-input
                div#search-btn.btn.btn-success.btn-lg.litter-btn Start Stream
                div#stop-btn.btn.btn-danger.btn-lg.litter-btn Stop
                div#clear-btn.btn.btn-info.btn-lg.litter-btn Clear

            div#tweet-box